<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Лабораторная_15</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        </nav>
    </header>

	<div style="text-align: center;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div >
		<table align="center" border="1">
			<thead>
				<tr style="text-align:center">
					<th>Код</th>
					<th>Адрес</th>
					<th>Название</th>
					<th>Описание</th>
					<th>Картинка</th>
				</tr>
			</thead>
			<tbody align="center" border="1">
				<tr>
					<td>1</td>
					<td>ЦПКиО «Лопатинский сад»</td>
					<td>Памятник «Защитникам Смоленска 4–5 августа 1812 года»</td>
					<td>Памятник-часовня «Защитникам Смоленска 4-5 августа 1812 года» выполнен в византийском стиле и органично сочетает в себе черты православного храма и обелиска. Он выполнен из чугуна. Представляет собой высокую 8-гранную пирамиду с цилиндрическим цоколем, увенчанную луковичной главкой с золоченым крестом. Памятник установлен на круглом трехступенчатом основании. Общая высота – 26 метров, вес – 30 тонн.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/895_3da9adscn8085.jpg#</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Сквер Памяти Героев (напротив музея «Смоленщина в годы Великой Отечественной войны» )</td>
					<td>Памятник «Благодарная Россия героям 1812 года»</td>
					<td>Скала – это символ неприступности России, гнездо на вершине – символ Смоленска, орлы – это русские армии, а воин-галл – собирательный образ всей армии Наполеона, представленной всеми странами Западной Европы. Памятник открыт в 1913 году. Сегодня это одна из главных визитных карточек Смоленска</td>
					<td>#http://www.visitsmolensk.ru//photos/med/892_ff635dscn8030.jpg#</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Смоленск, площадь Победы</td>
					<td>Памятник воинам, защитникам и освободителям Смоленска</td>
					<td>
						Смоленская крепостная стена, здание кинотеатра «Октябрь», уютный сквер в самом сердце города. Высокий обелиск памятника воинам, защитникам и освободителям Смоленска издалека привлекает внимание смолян и гостей нашего города, а удобные лавочки ,  прекрасно оформленные клумбы и вид на крепостную стену - сделали сквер одним из любимых мест встреч среди смоленской молодежи. Место установки памятника воинам, защитникам и освободителям Смоленска выбрано довольно символично — им стало  площадь Победы.

						Памятник представляет из себя высокий серый обелиск, окруженный фигурами трех воинов-защитников Смоленска: эпохи русско-польской войны, Отечественной войны 1812 года и Великой Отечественной войны 1941-1945 годов. В руках у воинов, помимо оружия, букеты цветов, которые они держат высоко над головой. Этот жест, по замыслу автора, подчеркивает, тот факт, что во все времена наших русских воинов-освободителей с радостью встречали в Смоленске. Фигуры воинов, отлитые в бронзе, установлены на постаменте из красного гранита, что символизирует смоленскую землю, пропитанную кровью ее защитников... На каждой из трех сторон пьедестала установлены информационные таблички, сообщающие о военных действиях, проходивших на территории Смоленской области.

						Верхушка обелиска увенчана лавровым венком, а подножие пьедестала украшают дубовые венки. Общая высота памятника составляет 13 метров, высота фигур – 2,7 метров. В вечернее время на обелиске включается подсветка.

						Идея создания памятника, а также окончательный выбор проекта памятника принадлежат ветеранам Великой Отечественной войны. Автор проекта — белорусский скульптор Игорь Чумакова. Ему же принадлежит авторство таких известных смоленских достопримечательностей, как: памятник Юрию Никулину в Демидове  и памятник Анатолию Папанову в Вязьме.

						Торжественное открытие памятника воинам, защитникам и освободителям Смоленска состоялось 8 мая 2015 года.
					</td>
					<td>#http://www.visitsmolensk.ru//photos/med/7645_53efamkqkom1wv18.jpg#</td>
				</tr>
				<tr>
					<td>4</td>
					<td>Смоленск, ул. Октябрьской революции (рядом с Башней Громовой)</td>
					<td>Памятник зодчему Федору Коню</td>
					<td>Федор Савельевич Конь строил «Белый город» и Донской монастырь в Москве, Пафнутьев монастырь в Боровске и еще ряд известных монастырских комплексов.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/847_a35d4dscn0007.jpg#</td>
				</tr>
				<tr>
					<td>5</td>
					<td>Смоленск, сад «Блонье» (городской сад им. М.И Глинки)</td>
					<td>Скульптура «Олень»</td>
					<td>Сначала она находилась в имении Вильгельма II под Кенингсбергом (ныне Калининград). Позже имение принад-ежало одному из руководителей Третьего рейха Г. Герингу. В 1946 году скульптура в качестве военного трофея была вывезена в Смоленск и установлена в городском саду как подарок смоленским детям, пережившим гитлеровскую оккупацию.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/852_3e15ddscn0069.jpg#</td>
				</tr>
				<tr>
					<td>6</td>
					<td>ЦПКиО «Лопатинский сад», Королевский бастион</td>
					<td>Памятник Софийскому полку</td>
					<td>5 августа 1812 года, во второй день обороны Смоленска, Софийский полк в составе 7-й пехотной дивизии генерала П.М. Капцевича отражал атаки французов в Мстиславском и Рославльском предместьях города. Около 200 воинов полка погибли и столько же пропали без вести. Спястя сто лет офицеры Софийского пол-ка, расквартированного в начале XX века в Смоленске, на собственные средства изготовили памятник своим героическим предкам. Автором памятника стал рядо-вой 7-й роты Софийского полка, смолянин, скульптор Б.Н. Цапенко.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/887_42440dscn8077.jpg#</td>
				</tr>
				<tr>
					<td>7</td>
					<td>ЦПКиО «Лопатинский сад», Королевский бастион</td>
					<td>Памятник на могиле генерал-майора А.А. Скалона</td>
					<td>8 августа, отдавая должное храбрости русского генерала, Наполеон хоронил А.А. Скалона в присутствии всей своей армии со всеми воинскими почестями.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/893_616d3dscn8079.jpg#</td>
				</tr>
				<tr>
					<td>8</td>
					<td>Смоленск, сад «Блонье» (городской сад им. М.И Глинки)</td>
					<td>Памятник М.И. Глинке</td>
					<td>Впервые в России открывали памятник деятелю искусств. В город приехали почти все отечественные (и не только!) музыкальные звезды того времени. Под фрагмент первой русской оперы «Жизнь за царя» П.И. Чайковский открыл памятник М.И. Глинке.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11400_6c425evgeniy_popov.jpg#</td>
				</tr>
				<tr>
					<td>9</td>
					<td>Смоленск, улица Большая Краснофлотская</td>
					<td>Памятник князю Владимиру</td>
					<td>
						Памятник князю Владимиру в Смоленске установлен на центральной площадке верхнего яруса набережной. Вы легко можете найти его, спустившись с улицы Большая Советская и пройдя вдоль крепостной стены налево. Рядом находится удобная парковка, а также здание Смоленского архива и ресторан «Темница» (в прошлом, ресторан «Смоленская крепость»).

						В последнее время во многих городах России появляются памятники князю Владимиру. В отличие от Москвы, в Смоленске не проходило голосования по поводу проекта памятника и его места установки. Проект новой смоленской достопримечательности бы утвержден Патриархом Московским и всея Руси Кириллом. Святейший принял участие в церемонии открытия и освящении памятника святому князю Владимиру в августе 2015 года.

						Скульптура служит напоминает смолянам и гостям нашего города о крещении Руси. Фигура князя Владимира обращена к Днепру лицом. На вид ему примерно 30 лет, именно столько, предположительно, было князю Владимиру, когда он прибыл в Смоленск для обращения смолян в православие. Вся одежда и обувь, вплоть до таких деталей, как растительный орнамент на плаще, соответствует той исторической эпохе, в которую жил князь Владимир. Одной рукой князь прижимает к себе патриарший крест шестиконечной формы, как символ обретения нового мировоззрения, а другой указывает на на Днепр - купель христианства на Руси. На поясе у него висит меч – символ княжеской власти.

						Памятник князю Владимиру установлен на 5-метровом гранитном постаменте. Высота самой фигуры - 4 метра. На гранитном постаменте выбита золоченая надпись «СВЯТОЙ РАВНОАПОСТОЛЬНЫЙ ВЕЛИКИЙ КНЯЗЬ ВЛАДИМИР КРЕСТИТЕЛЬ РУСИ».  

						Автор памятника — Смоленский профессор, член Союза художников России, скульптор Валерий Степанович Гращенков. В Смоленске вы можете увидеть и другие памятники, выполненные по проекту этого скульптора — «Кот Смоленской», памятник Борису Васильеву или, например, памятник Авраамию Смоленскому.
					</td>
					<td>#http://www.visitsmolensk.ru//photos/med/8313_0e4fcpamjatnikknvladimir.jpg#</td>
				</tr>
				<tr>
					<td>10</td>
					<td>Смоленск, пл. Победы</td>
					<td>Памятник А. Твардовскому и В. Теркину</td>
					<td>
						Поэт-фронтовик и его лучший литературный герой отлиты из бронзы. Но как живые.
						Василий Теркин, увековеченный в бронзе, - это не только признание заслуг придумавшего его автора, но и слава особенному русскому характеру.
					</td>
					<td>#http://www.visitsmolensk.ru//photos/med/992_58076dscn0102.jpg#</td>
				</tr>
				<tr>
					<td>11</td>
					<td>Смоленск, перекресток улиц  Коммунистической, Глинки и Маяковского</td>
					<td>Памятник В.Т. Куриленко</td>
					<td>Комсомолец-партизан, Герой Советского Союза Владимир Куриленко погиб в 1942 году. Группа возвращалась с очередного задания по подрыву вражеского эшелона и попала в засаду. Тяжело раненый Володя погиб, прикрывая отход товарищей. В том же году ему было присвоено звание Героя (посмертно).</td>
					<td>#http://www.visitsmolensk.ru//photos/med/1147_2c896dscn8491.jpg#</td>
				</tr>
				<tr>
					<td>12</td>
					<td>Смоленск, пл. Ленина</td>
					<td>Памятник В.И. Ленину</td>
					<td>Памятник сделан из красного гранита, стилобат – из полированных блоков. Общая высота памятника – 9 метров, высота скульптуры – 6,5 метров.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/1019_3237fdscn8106.jpg#</td>
				</tr>
				<tr>
					<td>13</td>
					<td>Смоленск, ул. Октябрьской революции, д.5</td>
					<td>Памятник М. В. Исаковскому</td>
					<td>Работу над образом поэта Сергеев начал в 1989 году. В 1996 году на Всероссийской выставке показал композицию «М.В. Исаковский», выполненную в дереве. Эта скульптура легла в основу памятника.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/1020_9a43ddscn0001.jpg#</td>
				</tr>
				<tr>
					<td>14</td>
					<td>Смоленск, ул. Соборная гора</td>
					<td>Памятник М. И. Кутузову</td>
					<td>Памятник представляет собой бронзовую фигуру фельдмаршала во весь рост на постаменте из розового гранита. Его непокрытая голова слегка приподнята, а взгляд устремлен вперед. Наблюдается портретное сходство этого произведения с работами художников, писавших Кутузова с натуры. Низко спускающиеся к воротнику волосы уже вышедшего в те времена из моды парика подчеркивают характерные особенности лица: большой лоб мыслителя, невидящий правый глаз, нос с горбинкой, обильные морщины, глубокие складки у рта, двойной подбородок.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/1022_94ec7dscn8401.jpg#</td>
				</tr>
				<tr>
					<td>15</td>
					<td>Смоленск, пл. Победы (рядом с участком Крепостной стены)</td>
					<td>Памятник «Опаленный цветок»</td>
					<td>Монумент представляет собой несколько хрупких детских тел, слившихся вместе в шар. Под шаром находятся надписи с названиями концлагерей.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/12365_78f60opalenniy_cvetok_smolensk.jpg#</td>
				</tr>
				<tr>
					<td>16</td>
					<td>Смоленск, Сквер Памяти Героев, в конце аллеи у Крепостной стены</td>
					<td>Памятный знак в честь партизан Отечественной войны 1812-го года</td>
					<td>Сам по себе памятный знак достаточно скромен. Он выполнен из известняка, в его центре находится бронзовая медаль, обрамлённая дубовыми листьями. На медали надпись: «Организаторам и активным участникам партизанской борьбы на Смоленщине в Отечественной войне 1812 года: подполковнику Д.В. Давыдову, капитану А.Н. Сеславину, капитану А.С. Фигнеру, солдату — драгуну Е.В. Четвертакову, крестьянке Василисе Кожиной и другим патриотам России».</td>
					<td>#http://www.visitsmolensk.ru//photos/med/2810_86a01dscn8054.jpg#</td>
				</tr>
				<tr>
					<td>17</td>
					<td>Смоленск, Реадовский парк</td>
					<td>Мемориал «Скорбящая мать»</td>
					<td>Во время оккупации Смоленска гитлеровские палачи сделали отроги оврагов Реадовки местом казни смоленских подпольщиков и партизан. Групповые расстрелы проводились здесь все лето и осень 1942 года.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/1330_42db6image-324.jpg#</td>
				</tr>
				<tr>
					<td>18</td>
					<td>Смоленск, на пересечении улиц Коммунистическая и Маршала Жукова</td>
					<td>Памятник Н. В. Крыленко</td>
					<td>Памятник Николаю Васильевичу Крыленко установлен на пересечении улиц Маршала Жукова и Коммунистической в Смоленске в 1985-м году (в разгар перестройки) и приурочен к 100-летию рождения видного коммуниста.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/2856_c64b3img_1779.jpg#</td>
				</tr>
				<tr>
					<td>19</td>
					<td>Смоленск, ул. Тенишевой, возле здания «Русская старина»</td>
					<td>Памятник М. О. Микешину</td>
					<td>Памятник уроженцу Смоленщины знаменитому русскому скульптору Михаилу Осиповичу Микешину является несомненной доминантой этого достаточно открытого и уютного уголка города, ограниченного прекрасным зданием музея «Русская старина», тенистым сквером и зданием кинотеатра «Октябрь».</td>
					<td>#http://www.visitsmolensk.ru//photos/med/2815_e932cdscn9935.jpg#</td>
				</tr>
				<tr>
					<td>20</td>
					<td>Смоленск, ул. Тенишевой, возле здания «Русская старина»</td>
					<td>Аллея городов-героев</td>
					<td>В 63-ю годовщину освобождения Смоленска от немецко-фашистских захватчиков, отмечавшуюся 25 сентября 2006-го года, в городе прошел  14-й слет городов-героев СНГ. Мероприятие было посвящено памяти о подвиге защитников Отечества в годы Великой Отечественной войны 1941-1945 гг. Делегаты этого слета приняли участие в открытии Аллеи городов-героев, расположившейся в самом центре Смоленска в сквере Памяти Героев вдоль Смоленской крепостной стены, справа от Вечного огня.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/2815_e932cdscn9935.jpg#</td>
				</tr>
				<tr>
					<td>21</td>
					<td>Смоленск, проспект Гагарина, у дома №17</td>
					<td>Памятник Юрию Гагарину</td>
					<td>
						Смоляне безмерно гордятся своим знаменитым земляком, стоящим, без преувеличения, в одном ряду с полумифическими героями древности, что основывается на простом сравнительном умозаключении. В человеческой истории имеется много великих воинов и полководцев, художников и писателей, прочих выдающихся личностей. Но Гагарин – единственный в своем роде и неповторимый. Это человек земли – первый в космосе.

						Не случайно, что в Смоленске самый большой проспект носит имя Гагарина. Здесь в 1974 году в день сорокалетия первого космонавта по проекту архитектора С.М. Чикнаварьяна был разбит небольшой, но уютный сквер. В нем была оборудована бетонная площадка, в восточной стороне которой возвышается двухметровый кирпичный постамент, облицованный темно-серыми мраморными плитами. На постаменте установлен бронзовый бюст Юрия Гагарина работы знаменитого смолянина скульптора Л.Е. Кербеля, подарившего этот бюст родному городу, о чем и гласит надпись на южной стороне бюста:  «В дар родному городу от автора. Л.Кербель-70».

						Любой желающий, зайдя в Гагаринский скверик и подойдя к бюсту, может убедиться в том, что образ космонавта передан с очень высокой фотографической точностью. При этом смоляне нередко говорят о том, что такому известному человеку на малой родине могли бы поставить памятник и побольше. Но этот бюст все равно очень любим горожанами, о чем красноречиво говорят цветы, неизменно украшающие его подножие.
					</td>
					<td>#http://www.visitsmolensk.ru//photos/med/4012_3612b816429_img_8082_.jpg#</td>
				</tr>
				<tr>
					<td>22</td>
					<td>Смоленск, пересечение улиц Октябрьской революции и Дзержинского</td>
					<td>Памятный знак в честь освободителей Смоленска от немецко-фашистских захватчиков</td>
					<td>Памятник представляет собой несколько прямоугольных кубических блоков из отполированного красного гранита общим размером приблизительно 2х3 метра, к которым прикреплено рельефное  изображение группы советских воинов во время атаки на неприятеля, поддерживаемых артиллерийским орудием. Выполнено изображение из листовой кованой меди.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/4175_6cc0cimg_0655.jpg#</td>
				</tr>
				<tr>
					<td>23</td>
					<td>Смоленск, ул. Дзержинского, рядом с кафе Пицца Домино</td>
					<td>Бюст А.С. Пушкина в Смоленске</td>
					<td>Появление в центре Смоленска бронзового бюста великому русскому поэту Александру Сергеевичу Пушкину связано с тем, что в начале 1970-х годов Министерство культуры РСФСР высоко отметило работу Центрального парка культуры и отдыха Смоленска, за что и прислало в дар парку бюст поэта работы скульптора Е.Ф. Белашова. Однако долгое время бюст просто лежал в запасниках парка, пока, наконец, для него не разбили у стен Смоленской крепости на улице Октябрьской революции небольшой но уютный сквер, названный именем поэта. Открытие сквера с бюстом произошло 30 мая 1976 года. Авторами сквера выступил архитектор Г.Г. Соосар и художник В.А. Трубаев.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/4129_53bedimg_0274.jpg#</td>
				</tr>
				<tr>
					<td>24</td>
					<td>Смоленск, на пересечении улицы Коненкова с улицей Пржевальского</td>
					<td>Бюст скульптора Сергея Тимофеевича Коненкова</td>
					<td>Произошло это в 1974 году. Примечательно, что данный бюст является копией автопортрета скульптора, выполненного им в мраморе и хранящегося сейчас в Третьяковской галерее.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/4624_65ea8734355__7_.jpg#</td>
				</tr>
				<tr>
					<td>25</td>
					<td>3-й Краснофлотский переулок, на берегу Днепра, за домом №16</td>
					<td>Смядынь</td>
					<td>Здесь в 1015 году разыгралась трагедия, навсегда вошедшая в нашу историю и давшая Русской православной церкви одного из первых и наиболее почитаемых святых мучеников – князя Глеба, убитого здесь наемниками, подосланными его братом, князем Святополком.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/4714_c2651img_3382e.jpg#</td>
				</tr>
				<tr>
					<td>26</td>
					<td>Смоленск, ул. Октябрьской революции</td>
					<td>Кот Смоленский</td>
					<td>Безусловно, «Кот Смоленский» – это один из самых милых и необычных памятников Смоленска. Автор этой небольшой скульптурной композиции – смоленский скульптор Валерий Гращенков. Памятник святому Авраамию Смоленскому, памятник князю Владимиру на набережной, бюст Бориса Васильева – все эти смоленские достопримечательности – дело рук этого мастера.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/8573_0c8d3js9xcgdtm7s.jpg#</td>
				</tr>
				<tr>
					<td>27</td>
					<td>Смоленск, ул. Кутузова, у дороги в районе аэродрома Северный</td>
					<td>Танк Т-34 на въезде в Смоленск</td>
					<td>
						Танк установлен на высокой обочине, где оборудована бетонная площадка и, словно, стоит на страже города. Дуло его пушки направлено на запад – откуда когда-то пришел на Смоленскую землю враг. Это место является одним из знаковых для смолян: именно к танку по традиции приезжают свадебные кортежи, чтобы отдать долг памяти освободителям города.

						Место установки самого массового танка времен Великой Отечественной войны совсем не случайно. Сюда, на северо-восточную окраину Смоленска, в ночь с 24 на 25 сентября 1943 года ворвались передовые части 31-й армии генерал-майора В.А. Глуздовского. Отсюда Красная армия развила дальнейшее успешное наступление и уже через сутки освободила весь город.
					</td>
					<td>#http://www.visitsmolensk.ru//photos/med/4206_752de933172_tb.jpg#</td>
				</tr>
				<tr>
					<td>28</td>
					<td>Смоленск, ул. Кутузова, у дороги в районе аэродрома Северный</td>
					<td>Памятники самолетам</td>
					<td>
						Три из них (легкий четырехместный Як-18Т, истребители МиГ-17 и Миг-23) находятся вне свободной досягаемости простых смолян и туристов, так как установлены на территории авиационного завода, военного аэродрома и воинской части. Зато два других самолета бомбардировщик Ту-16 и лайнер Як-42 являются настоящим украшением города, придающим ему дополнительной привлекательности и особой неповторимости.

						Первый предсерийный Як-42 был выпущен на Смоленском авиационном заводе в 1976 году, где эти лайнеры собирались до 1982 года, когда разбился самолет такой модели. В той ужасной катастрофе погибло 132 человека, после чего полное производство Як-42 в Смоленске прекратилось, а осталось лишь изготовление некоторых комплектующих.

						В 1978 году во время празднований 35-летия освобождения Смоленщины от фашисткой оккупации в смоленском районе Покровка на слиянии улиц Фрунзе и Кутузова разбили уютный сквер, названный «Наши крылатые земляки» и посвященный смолянам-авиаторам. Сквер украсили их портретами. Именно здесь десять лет спустя к 1125-летию Смоленска и установили один из последних лайнеров Як-42, собранных на Смоленском авиазаводе. Примечательно, что лайнер установили ночью, и удивленные горожане все утро передавали из уст в уста новость о неожиданно появившейся новой городской достопримечательности. Сначала в самолете хотели организовать кафе или кинотеатр, но по причине его высокой пожарной опасности от этой идеи решили отказаться.

						Второй памятник-самолет, доступный всеобщему обзору, находится в Смоленске на развилке улицы Багратиона и 1-го Краснофлотского переулка. Бомбардировщик Ту-16 установили в мае 1985 года и приурочили это событие к присвоению областному центру звания города-героя. Об этом говорит мемориальная доска, на которой написано: «Жителям города-героя Смоленска от воинов-авиаторов». Дело в том, что еще в 1940 году в Смоленске был сформирован 212 отдельный авиационный полк, ставший ядром будущей авиации дальнего действия. Об этом также рассказывает еще одна из мемориальных досок, установленных на постаменте памятника.   

						История появления этого самолета-памятника в Смоленске также имеет интересные и даже рискованные особенности. Дело в том, что единственный смоленский военный аэродром не приспособлен для самолетов такого масштаба, и поэтому перегоняли его сюда из Орши летчики-профессионалы экстра-класса. Для торможения на короткой посадочной полосе им пришлось даже открыть бомболюки. Устанавливали на постамент Ту-16 также ночью, что вызвало среди жителей немалый ажиотаж, породив слухи о посадке бомбардировщика прямо на городской улице, и стало еще одним приятным сюрпризом.
					</td>
					<td>#http://www.visitsmolensk.ru//photos/med/4206_752de933172_tb.jpg#</td>
				</tr>
				<tr>
					<td>29</td>
					<td>Смоленск, на пересечении ул. Маршала Жукова и ул. Тимирязева</td>
					<td>Памятник Авраамию Смоленскому</td>
					<td>1 сентября 2014 года, 21 августа по юлианскому календарю, в день, когда Русская православная церковь почитает святого преподобного Авраамия Смоленского, в сквере Спасо-Преображенского Авраамиева монастыря на улице Жукова был установлен бронзовый памятник этому святому, чья жизнь неразрывно связана с нашим городом.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/4966_afd2fimg_3855.jpg#</td>
				</tr>
				<tr>
					<td>30</td>
					<td>Смоленск, ул. Николаева, у дома №7</td>
					<td>Памятник А. Николаеву</td>
					<td>В 2011 году в зеленой зоне на пересечении улиц Николаева и Октябрьской революции у дома №7 появился новый памятник. Бронзовый бюст Андрияна Николаева создал Заслуженный художник Чувашии, известный скульптор Владислав Немцев. Памятник космонавту стоит несколько в стороне от оживленной пешеходной улицы Октябрьской, частично скрыт за деревьями, высаженными вдоль улицы Николаева. На скульптурном портрете Андриян Григорьевич изображен молодым, одетым в космический скафандр.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/8412_58089s427-14669.jpg#</td>
				</tr>
				<tr>
					<td>31</td>
					<td>Смоленск, Витебское шоссе, пос. Серебрянка</td>
					<td>Памятник «Долой самодержавие»</td>
					<td>Сейчас о том, как проходила революция и свержение царского режима в разных регионах России говорят мало, хотя если, например, обратиться к смоленским путеводителям 60-70-х годов XX века – вы увидите, что большая часть экскурсионных маршрутов и описание некоторых достопримечательностей так или иначе сводилось к теме коммунизма.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/8415_33a31___________________________________.jpg#</td>
				</tr>
				<tr>
					<td>32</td>
					<td>Смоленск, Витебское шоссе, пос. Серебрянка</td>
					<td>Памятник железнодорожникам, погибшим в Великой Отечественной войне</td>
					<td>
						На правом берегу реки Днепр, на Витебском шоссе, напротив Дома культуры железнодорожников расположен высокий пятиметровый мемориал «Памяти железнодорожников, погибших во Второй мировой войне».

						Когда-то на месте мемориала находился «Сквер железнодорожников» площадью 600 кв.м.. Он был заложен в 1959 году. На этом участке было высажено около 200 деревьев, участок украшали цветочные клумбы, кустарники, прохожие могли отдохнуть на скамейках или прогуляться по дорожкам, выложенным брусчаткой. В 1983 году, к 50-летию освобождения Смоленска от немецко-фашистских захватчиков, в сквере был установлен памятник, посвященный железнодорожникам, погибшим в Великой Отечественной войне. В военное время эти отважные люди своим трудом, а порою ценой своей жизни, обеспечивали быстрое передвижение наших войск, перевозя эшелоны с солдатами, санитарные вагоны и тяжелую технику.

						Памятник железнодорожникам в Смоленске представляет из себя два параллельных белых высоких блока на гранитном основании, соединенных между собой звездой. Форма монумента является аллюзией на рельсы  железнодорожных путей. За монументом установлена невысокая плита из черного гранита, на концах которой выбиты золоченые цифры «1941» и «1945». На левой части плиты написаны слова «Вечная память павшим за Родину», а справа - «Железнодорожникам погибшим в годы Великой Отечественной войны».
					</td>
					<td>#http://www.visitsmolensk.ru//photos/med/8415_33a31___________________________________.jpg#</td>
				</tr>
				<tr>
					<td>33</td>
					<td>Смоленск, проспект Гагарина, около дома 27к5</td>
					<td>Памятник «Жертвам фашизма»</td>
					<td>
						Летом 1941 года в оккупированном Смоленске появился «госпиталь» для советских военнопленных. Местом для «лечения больных» концлагеря №126 было выбрано здание фельдшерской школы на Киевском шоссе (ныне проспект Гагарина).  

						Открыв госпиталь в этом месте, фашистские оккупанты изначально создали для больных невыносимые условия. Здание не было оборудовано койками, не было постельных принадлежностей и другого инвентаря. Раненные и больные люди лежали прямо на полу. Ощущался острый недостаток в медикаментах. Во многих окнах не было стекол, причем немцы убрали из здания паровое отопление. Площадь здания позволяла разместить там около 1000 человек, однако, госпиталь был переполнен до отказа. Число больных доходило до 4500 человек. В связи с этим больные размещались в коридорах и подвальных помещениях в условиях жесткой антисанитарии. Самой популярной процедурой в «госпитале» был принудительный забор крови у раненых. Вместо 200 грамм у ослабленных людей выкачивали по литру крови.

						Пациенты этого «госпиталя смерти» часто умирали от голода, т.к. больные получали полуголодный район, состоящий из 200 граммов хлеба из древесных опилок, водянистого супа из ржи, гнилого картофеля или овощных очисток.

						Смертность в этой «больнице» от тифа, холода, истощения достигала 200 человек в сутки. Всего через «госпиталь» прошло до 100 тысяч раненых и больных красноармейцев, из которых в госпитале умер каждый 4 пациент…
					</td>
					<td>#http://www.visitsmolensk.ru//photos/med/8502_626d1lq_a736-4xs.jpg#</td>
				</tr>
				<tr>
					<td>34</td>
					<td>Смоленск, парк Лопатинский сад</td>
					<td>Памятник Лопатину</td>
					<td>В последние годы в Смоленске появляется все больше новых памятников и достопримечательностей. Так в октябре 2015 года центральный вход в парк культуры и отдыха «Лопатинский сад» органично дополнила бронзовая фигура смоленского губернатора  XIX века – Александра Григорьевича Лопатина.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/8540_bb28dimg_9186.jpg#</td>
				</tr>
				<tr>
					<td>35</td>
					<td>Смоленск, ул. Докучаева</td>
					<td>Памятник Борису Васильеву</td>
					<td>Памятник Борису Васильеву в Смоленске был установлен в историческом центре города, но несколько в стороне от оживленных улиц – в тенистом сквере на улице Докучаева. Неподалеку находится мастерская «Смоленская изба», музей «Смоленский лён» и музей имени адмирала Нахимова.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/8791_d4ab5boris_vasilev.jpg#</td>
				</tr>
				<tr>
					<td>36</td>
					<td>Смоленск, городской сад Блонье</td>
					<td>Скамейка на Блонье</td>
					<td>В популярном месте отдыха смолян и гостей нашего города - в центральной части парка Блонье, в октябре 2015 года появился необычный арт-объект – кованая скамейка в стиле стимпанк. Вам не придется ее искать и спрашивать у прохожих как ее найти. Встаньте около фонтана и посмотрите в сторону памятника М.И. Глинки.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/8871_5d3b9img_9204.jpg#</td>
				</tr>
				<tr>
					<td>37</td>
					<td>Смоленск, Витебское шоссе</td>
					<td>Памятник на Гнёздовских курганах</td>
					<td>Гнёздовские курганы – это крупный комплекс курганов, расположенный в 10-12 км западнее Смоленска. Он включает в себя около 2900 языческих погребений курганного типа. Значительная часть материалов из Гнёздова хранится в Смоленском музее-заповеднике, Эрмитаже и в Государственном историческом музее в Москве.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/8906_d2d4fbez_imeni-1.jpg#</td>
				</tr>
				<tr>
					<td>38</td>
					<td>Смоленск, 2-Дачная</td>
					<td>Бункер Гитлера</td>
					<td>Одноэтажное бетонное здание с вентиляционными решетками в Красном бору было построено немцами с помощью советских военнопленных в 1941-42 гг для ставки штаба группы армии «Центр». Кодовое имя этого комплекса - «Беренхалле» («Медвежья берлога»).</td>
					<td>#http://www.visitsmolensk.ru//photos/med/8949_a1b5aimg_6487.jpg#</td>
				</tr>
				<tr>
					<td>39</td>
					<td>Смоленск, 2-я линия Красноармейской Слободы</td>
					<td>Памятный знак А. В. Суворову</td>
					<td>Гранитный памятный камень установлен на перекрестке Чуриловского переулка и улицы 2-я линия Красноармейской Слободы.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/9119_85eb1suvorov_smolensk.jpg#</td>
				</tr>
				<tr>
					<td>40</td>
					<td>Смоленск, улица Барклая-де-Толли</td>
					<td>Шейнов бастион</td>
					<td>Шейнов бастион, или «Малый вал» - это земляное укрепление, сооруженное в ходе Смоленской войны на месте разрушенной Грановитой башни и части крепостной стены. Бастион находится в непосредственной близости от здания кинотеатра «Октябрь», парка пионеров и музея «Русская старина» в Смоленске.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/9235_0249dovzzshw0duq.jpg#</td>
				</tr>
				<tr>
					<td>41</td>
					<td>Смоленск, ул. Октябрьской революции</td>
					<td>Нулевой километр</td>
					<td>Нулевой километр в Смоленске представляет собой чугунный верстовой столб. Это конструкция высотой более двух метров и массой около двух тонн.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/12777_f9b80uaeoxsckauo.jpg#</td>
				</tr>
				<tr>
					<td>42</td>
					<td>Смоленск, парк Лопатинский сад</td>
					<td>Арт-объект «Глобус»</td>
					<td>В декабре 2015 года в парке Лопатинский сад в Смоленске появился новый арт-объект. Он представляет собой большой глобус из ажурных металлических прутьев диаметром около 2 метров.  На вершине глобуса установлены объемные миниатюры, изображающие некоторые смоленские достопримечательности.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/9341_efdcfgbddix1vmjm.jpg#</td>
				</tr>
				<tr>
					<td>43</td>
					<td>Смоленск, пос. Валутино</td>
					<td>Памятник на Валутиной горе</td>
					<td>Это памятник, установленный в 2015 году, - единственный в Смоленске монумент, который посвящён событиям 1632-1634 годов, когда русская армия под командованием воеводы Шеина попыталась вернуть Смоленск в состав Русского государства. Поход на Смоленск закончился неудачно, и город удалось вернуть лишь в 1654 году…</td>
					<td>#http://www.visitsmolensk.ru//photos/med/10756_9817darqqcdznfyg.jpg#</td>
				</tr>
				<tr>
					<td>44</td>
					<td>Смоленск, парк Лопатинский сад</td>
					<td>Надпись «Я люблю Смоленск»</td>
					<td>Арт-объект «Я люблю Смоленск» появился в Смоленске в декабре 2015 года. Огромные белые буквы длиной около 8 метров и высотой примерно 1,5 м расположены у входа в парк около колеса обозрения и ТИЦ «Смоленский терем».</td>
					<td>#http://www.visitsmolensk.ru//photos/med/9455_7a1c49261_fd5a1751899df274d812650079211b2a803c8_xl.jpg#</td>
				</tr>
				<tr>
					<td>45</td>
					<td>Смоленск, ул. Октябрьской революции</td>
					<td>Арт-объект «Равновесие»</td>
					<td>Арт-объект «Равновесие» спрятался в тенистой аллее парка Блонье рядом с летней площадкой кафе «Русский Двор». Предполагается, что он внесет определенное разнообразие в архитектурно-пространственную среду парка.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/10855_26b791d017d9a5322a05d1f9f9138fef42b02.jpg#</td>
				</tr>
				<tr>
					<td>46</td>
					<td>Смоленск, Краснинское шоссе</td>
					<td>ЗИС-3 на Краснинском шоссе</td>
					<td>На выезде из Смоленска, на юго-западе города, на обочине Краснинского шоссе в 50-е годы XX века была установлена противотанковая пушка ЗИС-3 76-миллимитрового калибра. Орудие установлено около моста через речку Ясенная на вытянутом пьедестале справа от дороги. К пушке ведет лестница, вдоль которой на бетонной стене имеется надпись: «Славным воинам соединений и частей, особо отличившихся в боях за Смоленск в сентябре 1943 года и удостоенных почетного наименования «Смоленских». Кроме того, на гранитной плите рядом с пушкой находится информация о военных частях, которым было присвоено наименование «Смоленских».</td>
					<td>#http://www.visitsmolensk.ru//photos/med/10879_c3b01ttt6.jpg#</td>
				</tr>
				<tr>
					<td>47</td>
					<td>Смоленск, проспект Гагрина, 22/2</td>
					<td>Памятник Ленину на проспекте Гагарина</td>
					<td>Памятник Ленину на проспекте Гагарина расположен рядом с остановкой общественного транспорта и ТЦ «Зебра», перед входом в Смоленский районный суд. Взгляд Владимира Ильича устремлён к Академии физической культуры и спорта (СГАФКСиТ).</td>
					<td>#http://www.visitsmolensk.ru//photos/med/10913_caffc66_big.jpg#</td>
				</tr>
				<tr>
					<td>48</td>
					<td>Смоленск, ул. Раевского, 2</td>
					<td>Памятник Марии Ульяновой</td>
					<td>В России не так уже много памятников, посвященных «Маняше» - как ласково величали Марию Ульянову в семье. Мария Ильинична была активной помощницей брата, участницей российского революционного движения, советским партийным и государственным деятелем.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/10915_0e8fbvw-j0i1n-wo.jpg#</td>
				</tr>
				<tr>
					<td>49</td>
					<td>Смоленск, улица Рыленкова, 16</td>
					<td>Памятник «Портрет солдата»</td>
					<td>Скульптура «Портрет солдата» была установлена в Промышленном районе Смоленска относительно недавно – в 2010 году, в год 70-летнего юбилея Великой Победы. Расположена она довольно символично – напротив здания военного комиссариата Смоленска на улице Рыленкова.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/10917_55e42dsc02672.jpg#</td>
				</tr>
				<tr>
					<td>50</td>
					<td>Смоленск, улица Котовского, 2</td>
					<td>Бюст С.А. Лавочкина</td>
					<td>В 60-е годы XX века в Смоленске на улице Лавочкина открылась Военная академия ПВО. В 1977 году рядом со зданием смоленской военной академии  на развилке улиц Лавочкина и Чернышевского был торжественно открыт памятник – бюст С.А. Лавочкина.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/10919_ef0b1133.jpg#</td>
				</tr>
				<tr>
					<td>51</td>
					<td>Смоленск, улица Кирова, 22Б</td>
					<td>Памятник солдату с ружьем</td>
					<td>Смоленский «Центр научно-технической информации» (ЦНТИ) расположен в первой линии улицы Кирова, рядом с гостиницей «Патриот». Смоленский ЦНТИ был организован в 1958 году, разместился он в 5-этажном здании, с несколькими выставочными залами и производственными помещениями. Раньше здесь же работала РОСТО – «Российская    оборонная    спортивно-техническая  организация», в связи с чем, рядом с ЦНТИ был установлен памятник военнослужащему с винтовкой и был установлен.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/10943_6b15fc4872f29ae22t.jpg#</td>
				</tr>
				<tr>
					<td>52</td>
					<td>Смоленская область, Вязьма, улица 25 Октября, д.13</td>
					<td>Памятник Анатолию Папанову</td>
					<td>Памятник Анатолию Папанову в Вязьме находится в историческом центре города, на улице 25 Октября, перед почтовым отделением. Неподалеку находится памятный знак в честь пребывания в Вязьме царя Алексея Михайловича.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11075_ac5573317880.jpg#</td>
				</tr>
				<tr>
					<td>53</td>
					<td>Смоленская область, г. Гагарин, улица Гагарина, 69</td>
					<td>Памятник матери Гагарина</td>
					<td>Памятник Анне Тимофеевне Гагариной был установлен в Смоленской области 10 апреля 2001 года. Он расположен во дворе мемориального Дома-музея школьных лет Юрия Гагарина. Этот памятник был подарен жителям Гагарина в канун 40-летия первого полета человека в космос от имени якутского народа первым Президентом Республики Саха (Якутия) Николаевым Михаилом Ефимовичем. Автор проекта - молодой якутский скульптор Эдуард Пахомов.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11004_b1862hmya9fm4gd4.jpg#</td>
				</tr>
				<tr>
					<td>54</td>
					<td>Смоленская область, г. Дорогобуж, улица Мира, д.6</td>
					<td>Глобус в Дорогобуже</td>
					<td>Самый большой глобус в Европе и второй по величине глобус в мире расположен в Смоленской области, недалеко от Дорогобужа. Этот арт-объект поражает своими масштабами: диаметр глобуса – 10,5 метров, высота – 12 метров, а вес… около 12 тонн!  Любопытно, что данный глобус был создан из старого газгольдера, использовавшегося для накопления азота на химическом заводе города Дорогобуж Смоленской области.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11037_6accd0_95a03_19abf5bd_xxl.jpg#</td>
				</tr>
				<tr>
					<td>55</td>
					<td>Смоленск, улица Гарабурды, 13</td>
					<td>Памятник Евгению Гарабурде</td>
					<td>Евгений Гарабурда родился и всю свою недолгую жизнь прожил в Смоленске. Еще в детстве, участь в Сомленской мужской гимназии, он принял участие в забастовке, отказавшись делать уроки по «закону божию». Эта забастовка была поддержана другими классами. В дни Февральской революции Гарабурда принимал активное участие в разоружении смоленских полицейских.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/10958_ca7437df3e8329265t.jpg#</td>
				</tr>
				<tr>
					<td>56</td>
					<td>Смоленская область, Вязьма, улица Ленина, 11</td>
					<td>Памятник «Доблестным предкам»</td>
					<td>Мемориал войны 1812 года в Вязьме представляет собой двухметровый обелиск из гранита в виде скалы, на боковой передней части которого расположился герб города Вязьма, мемориальная доска, и медаль «В память Отечественной войны 1812 г.», учрежденная 5 февраля 1813 г. императором Александром I.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11462_c8ea1pamyatnik_doblestnim_predkam_vyazma_1812.png#</td>
				</tr>
				<tr>
					<td>57</td>
					<td>Смоленская область, Демидов, ул. Коммунистическая</td>
					<td>Памятник Никулину</td>
					<td>Памятник Никулину находится в парке недалеко от набережной реи Гобза, в центре Демидова, на пересечении улиц Мареевской и Коммунистической. Памятник Юрию Никулину был открыт здесь в октябре 2011 года. Автор проекта – белорусский скульптор Игорь Чумаков. Напротив памятника расположена Администрация Демидовского района.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11059_558bcimg-362824-c2243389b0.jpg#</td>
				</tr>
				<tr>
					<td>58</td>
					<td>Смоленская область, г. Вязьма, на пересечении ул. Кронштадтская и Репина</td>
					<td>Мемориал узникам фашистского пересыльного лагеря «Дулаг-184»</td>
					<td>Мемориал узникам фашистского пересыльного лагеря «Дулаг-184» был открыт на пересечении улиц Кронштадтская и Репина 21 июня 2014 года.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11452_45175img_5817-1024x682.jpg#</td>
				</tr>
				<tr>
					<td>59</td>
					<td>Смоленская область, Вязьма, Советская площадь</td>
					<td>Стела «Вязьма - город воинской славы»</td>
					<td>Стела «Вязьма - город воинской славы» расположена на Советской площади – сосредоточении большого количества памятников и достопримечательностей города Вязьма. Рядом вы сможете увидеть знаменитый памятник Перновскому полку, трогательный монумент «Сердце матери», а также популярный среди туристов арт-объект «Русский лапоть».</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11479_aed42612974_original.jpg#</td>
				</tr>
				<tr>
					<td>60</td>
					<td>Смоленская область, Гагарин, улица Гагарина, 74</td>
					<td>«Волга» Юрия Гагарина</td>
					<td>Памятник-машину в городе Гагарин Смоленской области найти достаточно легко. Черная «Волга» стоит через дорогу от памятника Анне Тимофеевне Гагариной, рядом с трехэтажным домом, который был построен для родителей космонавта после полета Гагарина в космос.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11131_f7cd908125414.jpg#</td>
				</tr>
				<tr>
					<td>61</td>
					<td>Смоленская область, Демидов, Коммунистическая улица</td>
					<td>Памятник Якову Демидову</td>
					<td>В центре Демидова, в сквере за памятником Юрию Никулину находится небольшой сквер с летним театром. Здесь в 1967 году был установлен небольшой бюст из серого мрамора в память о человеке, в честь которого город Поречье Смоленской области был переименован в Демидов.  Речь идет о памятнике большевику Якову Ермолаевичу Демидову.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/12024_1a9f2414401_900.jpg#</td>
				</tr>
				<tr>
					<td>62</td>
					<td>Смоленская обл., Вяземский р-н, г. Вязьма, ул. Марины Расковой</td>
					<td>Спасская башня</td>
					<td>Первые упоминания средневековой  каменной Вяземской крепости относятся к  1632 году, одному из периодов Русско-польской (Смоленской) войны. Пока Смоленск был оккупирован войсками Речи Посполитой, первый русский царь из династии Романовых был обеспокоен продвижением неприятеля в сторону Москвы и в 30-х гг. ХVII в. отдал приказ о строительстве   Можайской и Вяземской крепости для укрепления пограничных территорий. Для этого в Вязьму были направлены зодчий Мирон Вельяминов «да подмастерье каменных дел Антип Константинов», умеющий «составлять чертежи».</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11045_bc778spasskaya_bashnya_vyazma.jpg#</td>
				</tr>
				<tr>
					<td>63</td>
					<td>Смоленская область, г. Вязьма, Советская площадь, д.3</td>
					<td>Памятник лаптю</td>
					<td>Памятник русскому лаптю расположен в самом центре Вязьмы, на Советской площади. Это место богато на достопримечательности: здесь и Вяземский краеведческий музей, и остановка-зонтик,  и памятник В.И. Ленину, и стела «Вязьма – город воинской славы», и черно-белый верстовой столб знаменитой Старой Смоленской дороги.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11053_2147fdsc03598.jpg#</td>
				</tr>
				<tr>
					<td>64</td>
					<td>Смоленская область, Вязьма, аллея Памяти</td>
					<td>Памятник Перновскому полку</td>
					<td>Почему в Вязьме установлен памятник именно Перновскому полку? Дело в том, что именно этот полк в далеком 1812 году первым вошел в город, когда из города отступала Великая армия Наполеона, потерпевшая поражение. Тогда в битве с французами погибло 159 перновцев, а выжившие 230 человек получили награды за свое мужество и за защиту Родной земли.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11483_57fc1pernovskiy_polk_vyazma.png#</td>
				</tr>
				<tr>
					<td>65</td>
					<td>Смоленская область, Десногорск, 6-й микрорайон</td>
					<td>Курган Славы в Десногорске</td>
					<td>Курган Славы расположен на высоком живописном берегу Десногорского водохранилища, недалеко от яхт-клуба. Мемориальный комплекс включает в себя Поле Памяти, где находится 7 братских могил, в которых перезахоронено 826 советских воинов, погибших в годы Великой Отечественной войны, а венчает мемориал высокая 9-метровая пятиконечная звезда с орденом Отечественной войны. Автор, разработавший проект Кургана Славы в Десногорске - архитектор Юрий Самойлов.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11072_1f17227282737244_dd0edef2c1_b.jpg#</td>
				</tr>
				<tr>
					<td>66</td>
					<td>Смоленская область, г. Вязьма, улица Воинов-Интернационалистов</td>
					<td>Памятник «Тень Булгакова»</td>
					<td>На севере Вязьмы, на улице Воинов-Интернационалистов, в загородном парке в 2012 году был открыт памятник… тени Михаила Булгакова. Такой оригинальный формат памятника был выбран не случайно. Дело в том, что Михаил Афанасьевич пробыл в провинциальной Вязьме начала ХХ века всего несколько месяцев:  он работал здесь земским врачом  с сентября 1917 по февраль 1918. Об этих страницах своей биографии Булгаков рассказывает в цикле «Записки юного врача».</td>
					<td>#http://www.visitsmolensk.ru//photos/med/10996_cc0570_875de_b5b3d979_xxl.jpg#</td>
				</tr>
				<tr>
					<td>67</td>
					<td>Смоленская область, Вяземский район, с. Царево-Займище</td>
					<td>Памятник в Царево-Займище</td>
					<td>Памятник хорошо виден с трассы М1. Он расположен на 188 километре трассы Москва-Минск, в 45 км от города Вязьма на повороте к селу Царево-Займище.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11057_6a41672872343.jpg#</td>
				</tr>
				<tr>
					<td>68</td>
					<td>Вязьма, Иоанно-Предтечинский женский монастырь, ул. Докучаева, д. 48-а</td>
					<td>Памятник Иулиании и Симеону Вяземским</td>
					<td>Памятник Симеону и Иулиании Вяземским был установлен в 2006 году с внешней стороны Иоанно-Предтеченского женского монастыря в Вязьме, на южном фасаде палат XVII-XVIII вв. На территории монастыря, рядом со знаменитой трехшатровой церковью вы сможете осмотреть памятник на могиле массона, генерал-майора Жеребцова А. А. (1781-1832гг), участника Отечественной войны 1812 года и памятник основателю монастыря Преподобному Герасиму Болдинскому. Кроме того, недалеко от монастыря, на улице Докучаева, находится бывший «дом купца Городжанкина», примечательный тем, что в нем в октябре 1812 года останавливался на ночлег император Наполеон I.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11443_7fe740_318e6_bbba93d7_xl.jpg#</td>
				</tr>
				<tr>
					<td>69</td>
					<td>Смоленская область, Кардымовский район, посёлок городского типа Кардымово, улица Ленина, 16</td>
					<td>Братская могила в Кардымово</td>
					<td>Мемориал на месте братской могилы в поселке Кардымово был установлен в июле 1954 года. Здесь были перезахоронены 297 советских воинов и партизан, погибших в боях с немецко-фашистскими захватчиками в 1941-1943 гг. в д. Березкино, Васильево, Ермачки, Лешенки, Марьино, Прокшино, Сопачево, Семеновское, Цурьково, Верещакино, Щеголево.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11357_831c2dsc03784.jpg#</td>
				</tr>
				<tr>
					<td>70</td>
					<td>Смоленская область, Вязьма, улица Гражданской Войны, 14</td>
					<td>Памятник Герасиму Болдинскому</td>
					<td>Памятник Герасиму Болдинскому был установлен в 2012 году на территории Вознесенской церкви Вяземского Иоанно-Предтеченского монастыря. Недалеко от этого места находится памятник массону генерал-майору Жеребцову, а также металлический горельеф, посвященный святым Иулиании и Симеону Вяземским.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11502_1d4200_132c1d_869a221f_orig.jpg#</td>
				</tr>
				<tr>
					<td>71</td>
					<td>Смоленская область, Вязьма, улица Докучаева, 48А</td>
					<td>Памятник на могиле генерал-майора А. А. Жеребцова</td>
					<td>Видный масон высших степеней посвящения, генерал-майор Русской императорской армии, герой Отечественной войны 1812 года А. А. Жеребцов завещал похоронить себя в Вязьме. Его просьба была выполнена в 1832 году. Памятник на его могиле представлял собой невысокую бронзовую колонну, на которой были сложены ружья, сабли и кивер Перновского полка.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11507_9f5340_1970c0_e28aa715_orig.jpg#</td>
				</tr>
				<tr>
					<td>72</td>
					<td>Смоленская область, Вязьма, улица Репина</td>
					<td>Памятник МИГ-17 в честь летчицы-космонавта Светланы Савицкой</td>
					<td>Памятник самолету МИГ-17 был установлен на пересечении улицы Репина и 25-го Октября в небольшом сквере. Это не макет самолета, а настоящее воздушное судно, на котором в 1972-1973 годах проходила летную подготовку дважды герой Советского Союза летчик-космонавт Светлана Савицкая. Это вторая в мире женщина-космонавт после Валентины Терешковой и первая в мире женщина-космонавт, вышедшая в открытый космос! Светлана Савицкая является почетным гражданином г. Вязьма.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/12228_65057vyazma_mig_savickoy.jpg#</td>
				</tr>
				<tr>
					<td>73</td>
					<td>Смоленская область, Вязьма, площадь Ефремова</td>
					<td>Памятник генералу Ефремову</td>
					<td>Памятник генералу Михаилу Григорьевичу Ефремову в Вязьме найти очень легко. Он находится посреди площади Ефремова, на пересечении главных улиц города: Ленина, Парижской коммуны, Марины Расковой, Кронштадтской. Рядом находится городской парк и памятник «Доблестным предкам».</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11515_279c10_116fb3_8426b428_orig.jpg#</td>
				</tr>
				<tr>
					<td>74</td>
					<td>Вязьма, ул. 25 октября, у дома 34</td>
					<td>Памятник автомобилистам в Вязьме</td>
					<td>Найти памятник ЗИС-5в в Вязьме достаточно просто. Он расположен на улице 25 октября, в 10 минутах от железнодорожного вокзала.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11681_ccd221469544722_avto1.jpg#</td>
				</tr>
				<tr>
					<td>75</td>
					<td>Смоленская область, Вязьма, Советская площадь, 3</td>
					<td>Памятник «Сердце матери»</td>
					<td>Памятник «Сердце матери» был открыт в сентябре 2012 года на набережной реки Вязьма возле храма Рождества Богородицы на Советской площади. Он является частью мемориального комплекса «Аллея героев», заложенная в честь вязьмичей, погибших в горячих точках в локальных войнах XX века. В нескольких метрах от монумента находится памятник «Перновскому полку».</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11499_f5a8a614861_original.jpg#</td>
				</tr>
				<tr>
					<td>76</td>
					<td>Смоленская область, Вязьма, аллея Памяти, Советская площадь</td>
					<td>Аллея памяти</td>
					<td>Аллея памяти была открыта в Вязьме около церкви Рождества Богородицы в 2012 году. На ее территории был установлен небольшой, но очень символичный памятник.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11519_d6b5b150.jpg#</td>
				</tr>
				<tr>
					<td>77</td>
					<td>Смоленская область, Вязьма, аллея Памяти, Советская площадь</td>
					<td>Памятник пуговице</td>
					<td>В сентябре 2016 года в городе Дорогобуж Смоленской области был открыт первый в России памятник пуговице! Этот уникальный арт-объект установил на территории своего частного дома «в старом городе» 48-летний житель Дорогобужа Олег Молоков.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11519_d6b5b150.jpg#</td>
				</tr>
				<tr>
					<td>78</td>
					<td>Смоленская область, Дорогобужский район, д. Усвятье</td>
					<td>Центр Смоленской области</td>
					<td>Арт-объект «Географический центр Смоленской области» расположен недалеко от деревни Усвятье Дорогобужского района, в поле, в 320 метрах от моста через реку Ужа. Двухметровая высокая белая стела видна издалека, но для тех, кто боится потеряться, у Старой Смоленской дороги установлен синий дорожный указатель.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11837_1d57fcentr_smolenskoy_oblasti.png#</td>
				</tr>
				<tr>
					<td>79</td>
					<td>Смоленская область, г. Дорогобуж, ул. Пушкина</td>
					<td>Вал Победы</td>
					<td>Вал Победы – главный мемориал города Дорогобуж. Он расположен в центре города, недалеко от набережной Днепра и Администрации Дорогобужского района.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11840_ad63021866.jpeg#</td>
				</tr>
				<tr>
					<td>80</td>
					<td>Смоленская область, Дорогобуж, улица Парижской Коммуны</td>
					<td>Памятник «Танк Т-34» в Дорогобуже</td>
					<td>Памятник «Танк Т-34» был установлен в Дорогобуже напротив аллеи героев-дорогобужан, в небольшом сквере рядом с Валом Победы и набережной Днепра в ноябре 1967 года.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11842_a5fd5280822_900.jpg#</td>
				</tr>
				<tr>
					<td>81</td>
					<td>Смоленская область, Десногорск, 2-й микрорайон</td>
					<td>Памятник Петру и Февронии в Десногорске</td>
					<td>Памятник Петру и Февронии расположен в Десногорске в одном из центральных парков отдыха, рядом со зданием Администрации, недалеко от монумента в память о трагедии на Чернобыльской АЭС и «Памятника строителям Десногорска».</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11844_d0a32img_6147.jpg#</td>
				</tr>
				<tr>
					<td>82</td>
					<td>Смоленская область, Десногорск, 4-й микрорайон</td>
					<td>Скульптурная композиция «Семья»</td>
					<td>Десногорск – атомная столица Смоленской области и один из самых молодых городов нашего региона. Здесь живет много амбициозной творческой молодежи, поэтому в городе часто появляются необычные арт-объекты.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11847_9add3desnogorsk._semya.jpg#</td>
				</tr>
				<tr>
					<td>83</td>
					<td>Смоленская область, Десногорск, 1-й микрорайон</td>
					<td>Памятник бородинскому хлебу</td>
					<td>Проект был реализован в рамках всероссийского проекта, посвященного 200-летию Отечественной войны 1812 года.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11849_f9becimg_6152.jpg#</td>
				</tr>
				<tr>
					<td>84</td>
					<td>Смоленская область, Десногорск, 2-й микрорайон</td>
					<td>Памятник строителям города Десногорска</td>
					<td>Десногорск – юный город Смоленской области, выполняющую важнейшую функцию. На его территории расположена атомная электрическая станция Смоленской области!</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11877_8d173img_6146.jpg#</td>
				</tr>
				<tr>
					<td>85</td>
					<td>Смоленская область, Десногорск, 4-й микрорайон</td>
					<td>Памятник «Ангел мира»</td>
					<td>Скульптура «Добрый Ангел-хранитель мира» распложена в центре Десногорска, города около информационного центра Смоленской АЭС, рядом со зданием церкви Стефана Великопермского и памятником семье. Открытие памятника состоялось 12 сентября 2014 года, и было приурочено к 40-летию города Десногорска. Создание данного памятника проводилось в рамках одноименного Международного проекта «Добрый Ангел – Хранитель Мира».</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11885_52f382097507.jpg#</td>
				</tr>
				<tr>
					<td>86</td>
					<td>Смоленская область, Десногорск, 2-й микрорайон</td>
					<td>Памятник жертвам радиационных катастроф в Десногорске</td>
					<td>Памятник трагедии на Чернобыльской АЭС, или памятный знак жертвам радиационных катастроф, был установлен в центре Десногорска на каштановой аллее возле здания Администрации города, недалеко от яхт-клуба. Рядом с ним находится памятник первостроителям Десногорска и Аллея Славы. Дата открытия монумента – 25 апреля 2008 года, накануне 22-й годовщины со дня аварии на Чернобыльской АЭС.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/11888_50b6bdesnogorsk-7.jpg#</td>
				</tr>
				<tr>
					<td>87</td>
					<td>Смоленская область, Демидов, Витебская улица</td>
					<td>Памятник «Журавли»</td>
					<td>Мемориальный комплекс «Журавли» находится в самом центре города Демидов, напротив автостанции, что очень удобно для тех, кто путешествует на автобусе – даже если у вас есть всего 5 минут остановки, вы успеете его осмотреть.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/12020_fd493416952_900.jpg#</td>
				</tr>
				<tr>
					<td>88</td>
					<td>Смоленская область, Демидов, Гурьевская улица</td>
					<td>Памятник «Вздохов мост»</td>
					<td>Мемориал  «Вздохов мост» находится в 20 минутах ходьбы от памятника Юрию Никулину в городе Демидов Смоленской области на пересечении Гурьевской, Коммунистической и Гаевской улиц. В годы Великой Отечественной войны на месте мемориала в городе Демидов находился фашистский концлагерь для военнопленных, партизан и помогавшим им мирным жителям. Именно здесь, в глубоком рву  содержались за колючей проволокой , а потом были расстреляны местные жители и пленные.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/12022_58a0evzdohov_most_demidov.jpg#</td>
				</tr>
				<tr>
					<td>89</td>
					<td>Смоленская область, Кардымовский район, д. Соловьево</td>
					<td>Памятник реактивной установке «Катюша»</td>
					<td>Памятник «Катюше» расположен в Смоленской области на знаменитой Старой Смоленской дороге близ деревни Соловьево Кардымовского района. Части реактивной установки БМ-13 были размещены здесь в память о сокрушительных залпах батареи по врагу на Соловьевой переправе.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/12045_d0decimage128140888.jpg#</td>
				</tr>
				<tr>
					<td>90</td>
					<td>Смоленская область, Кардымовский район, д. Соловьево</td>
					<td>Мемориал «Соловьева переправа»</td>
					<td>В июле 1991года на берегу Днепра у деревни Соловьево Кардымовского района Смоленской области был открыт памятный знак в честь защитников Отечества, погибших в боях за Соловьеву переправу в 1941-1943 гг.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/12048_56a74solovievo6_max.jpg#</td>
				</tr>
				<tr>
					<td>91</td>
					<td>Смоленская область, город Гагарин, улица Гагарина</td>
					<td>Памятник Юрию Гагарину в Гагарине</td>
					<td>Юрий Алексеевич Гагарин родился в деревне Клушино близ города Гжатск (переименованного в 1968 году в г. Гагарин). Он не раз возвращался на свою Малую Родину.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/12181_22ee30_1a6322_4c9e881b_xl.jpg#</td>
				</tr>
				<tr>
					<td>92</td>
					<td>Смоленская область, город Гагарин, улица Ленина</td>
					<td>Памятник Петру Первому</td>
					<td>Памятник Петру Первому расположен в Гагарине в небольшом сквере на пересечении улицы Ленина с Ленинградской набережной. От памятника открывается красивый вид на реку Гжать и Благовещенский собор. Через дорогу от памятника Петру I в Гагарине находится «Сквер Ветеранов».</td>
					<td>#http://www.visitsmolensk.ru//photos/med/12187_26e723034037.jpg#</td>
				</tr>
				<tr>
					<td>93</td>
					<td>Смоленская область, город Гагарин, ЦПКиО имени Солнцева</td>
					<td>Памятник партизанскому отряду «Победа»</td>
					<td>На улице Гагарина, в центральном парке культуры и отдыха имени Солнцева, на берегу пруда за небольшой металлической оградой возвышается памятник, посвященный бойцам гжатского комсомольско-молодежного партизанского отряда «Победа».</td>
					<td>#http://www.visitsmolensk.ru//photos/med/12184_1a0e1kamen-pamyatnik.jpg#</td>
				</tr>
				<tr>
					<td>94</td>
					<td>Смоленская область, город Гагарин, улица Гагарина</td>
					<td>Памятник Федору Солнцеву и «26 бакинским комиссарам»</td>
					<td>Памятник Федору Солнцеву и «26 бакинским комиссарам»  расположен напротив Петровской аллеи, у входа в парк «ЦПКиО имени Солнцева» на улице Гагарина. Он был установлен здесь 6 октября 1981 года, став подарком Смоленской области от Республики Азербайджан.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/12190_cd37a0_a68b6_44099a48_xxxl.jpg#</td>
				</tr>
				<tr>
					<td>95</td>
					<td>Смоленская область, город Гагарин, улица Ленина, 4</td>
					<td>Сквер ветеранов</td>
					<td>На набережной реки Гжать, напротив памятника Петру Первому расположена зеленая зона – Сквер ветеранов. В 2007 году в центральной части сквера был заложен памятный камень, а в 2010 году на его месте был торжественно открыт памятник-мемориал, в память о воинах, погибших в локальных войнах и военных конфликтах.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/12224_b36be19088628.jpg#</td>
				</tr>
				<tr>
					<td>96</td>
					<td>Смоленская область, город Гагарин, Красноармейская улица</td>
					<td>Мемориал Великой Отечественной войны в Гагарине</td>
					<td>На восточной окраине Гагарина, на выезде из города, находится самый крупная братская могила и мемориал Великой Отечественной войны в Гагаринском районе Смоленской области.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/12227_0705cmemorial2main.jpg#</td>
				</tr>
				<tr>
					<td>97</td>
					<td>Смоленская область, город Вязьма, Бауманская улица</td>
					<td>Памятник Нахимову в Вязьме</td>
					<td>Между улицами 25 Октября и Бауманской улицей в Вязьме, посреди уютного зеленого парка установлен бюст П.С. Нахимова. Великий русский адмирал родился в Вяземском уезде Смоленской губернии в семье небогатого помещика. Кроме Павла в семье было еще 10 детей, причем все 5 сыновей стали моряками, несмотря на то, что Смоленщина находится вдали от морей.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/12231_4af6a99650241.jpg#</td>
				</tr>
				<tr>
					<td>98</td>
					<td>Смоленская область, Вязьма, улица Парижской Коммуны, 1</td>
					<td>Памятник Карлу Марксу</td>
					<td>В центре города Вязьма Смоленской области на улице Парижской коммуны напротив памятника Нахимову, через дорогу от Преображенской церкви в середине XX  века был установлен бюст знаменитому немецкому философу, социологу и экономисту – Карлу Марксу.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/12327_84075dsc03615.jpg#</td>
				</tr>
				<tr>
					<td>99</td>
					<td>Смоленск, улица Барклая-де-Толли</td>
					<td>Памятник пионерам</td>
					<td>Парк пионеров появился в Смоленске в 70-е годы XX века. Он находится в центральной части города, между улицей Барклая-де-Толли и площадью Победы. Парк пионеров тянется вдоль участка крепостной стены. Когда-то в этом месте было множество деревьев и лавочки, однако в 2010 году все старинные липы и клёны были вырублены «Зеленхозом», т.к. «загораживали обзор памятника архитектуры».  О былых временах Советского прошлого нам напоминает массивная белая надпись «Парк пионеров» около подземного пешеходного перехода на площади Победы и памятник Пионерам рядом с Моховой башней. К слову, раньше в Моховой башне Смоленской крепостной стены располагался музей пионерского движения, о чем нам напоминает табличка из красного гранита около входа.</td>
					<td>#http://www.visitsmolensk.ru//photos/med/12366_59774gallery_promo23238745.jpg#</td>
				</tr>
				<tr>
					<td>100</td>
					<td>Смоленск, пересечение улиц Фрунзе и 12 лет Октября</td>
					<td>Памятник «Штык»</td>
					<td>Обелиск «Штык» на Покровской горе расположен недалеко от железнодорожного вокзала Смоленска, его высота почти 19 метров. Это стальной обелиск в форме трёхгранного штыка русской винтовки. В основании обелистка стела с фигурами идущих на сражение солдат и надписью "Слава русскому оружию".</td>
					<td>#http://www.visitsmolensk.ru//photos/med/12957_a9aeesmolensk_shtik.jpg#</td>
				</tr>
				<tr>
					<td></td>
					<td>&nbsp</td>
					<td>&nbsp</td>
					<td>&nbsp</td>
					<td>&nbsp</td>
				</tr>
				
			</tbody>
		</table>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - С наилучшими пожеланиями Касаткин и комапания</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>